/*****************GENERAL****************/
a
{
    text-decoration: none;
    color: #000000;
}
body
{
    font-family: Helvetica, Arial , sans-serif;
    font-size: 20px;
    margin:0;
    padding: 0;
}

h1
{
    margin-block-end: 0;
    font-family: "Futura", Arial, sans-serif;
    margin: 0% 0% 0% 10%;
    color:bisque;
}
h2
{
        margin-block-end: 0;
        font-family: "Futura", Arial, sans-serif;
        font-style: italic;
        padding: 0% 0% 5% 0%;

}


h3, h5, h6
{
    margin-block-end: 0;
    font-family: "Futura", Arial, sans-serif;
}

h4
{
    margin-block-end: 0;
    font-family: "Futura", Arial, sans-serif;
    font-style:italic;

}
/*****************HEADER****************/
header
{
overflow: auto;
}
    /*****************LOGO****************/
    .logo
    {
        float: left;
        font-size: 22px;
        line-height: 20px;
        text-align: center;
        padding-top: 20px;
        margin-left: 2%;
    }
    .pt
    {
        font-size: 14px;
    }
    /*****************NAV****************/
    nav
    {
        float: right;
        margin: 0;
        /*position: fixed;*/
    }
        nav li
        {
            display: inline;
            padding-left: 30px;
            margin-right: -2%;

        }
            nav li a
            {
                color: #777777;
                font-size: 15px;
                padding-top: 32px;
                padding-bottom: 31px;
                line-height: 50px;
            }
            .active
            {
                border-bottom: 2px solid #f2913d;
            }
/*****************MAIN-INDEX****************/
main
{
    overflow: auto;
}
.main-img
{
    background: url(css/sunrise-runner.jpg) no-repeat;
    background-size: cover;
    max-height: 400px;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}
    .main-img h1
    {
        font-size: 70px;
    }
/*****************MAIN-Personlig-träning****************/    
.main-img-personlig-traning
{
    background: url(css/Jim-Christy-fall-walk2.jpg) no-repeat;
    background-size: cover;
    max-height: 400px;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}
    .main-img-personlig-traning h1
    {
        font-size: 50px;
        
    }
.main-personlig-traning-content h3
{
    text-align: center;
    color: #bf5841;
}
.main-personlig-traning-content p
{
    text-align: center;
    margin: 2%;
}



/*****************INDEX-START****************/   
.rorelse, .kost, .somn
{
    margin: 2%;
    width: 29.33%;
    float: left;
    text-align: center;

}
#rorelse-img
{

    width:100px;
    height: 100px;
}
#headline-rorelse,#headline-kost,#headline-somn
{
    color: #bf5841;
}
/* .kost, .somn
{

    width: 33.33%;
    float: left;
    text-align: center;
} */
#kost-img
{

    width:100px;
    height: 100px;
}
#somn-img
{

    width:100px;
    height: 100px;
}
.end-text
{
    margin:0% 0% 5% 0%;
    text-align: center;
    color: #bf5841;
}

.line
{
    width: 50%;
    margin: 0% 0% 0% 25%;
    border-bottom: 1px solid #bf5841;
}
/*****************INDEX-END****************/ 

/*****************PERSONLIG-TRÄNING-START****************/
/* * {
    box-sizing: border-box; Något stämmer inte med detta 
  } */
  
.end-personlig-traning-image {
float: left;
width: 50%;
padding: 20px 0px 0px 0px;
}
.end-personlig-traning-image h3 {
    position: relative;
    bottom: 250px;
    text-align: left;
    color: white;
    font-size: 40px;
    margin:2%;
}
.end-personlig-traning-image p {
    position: relative;
    bottom: 250px;
    text-align: left;
    color: white;
    font-size: 20px;
    margin:2%;
}
.end-personlig-traning-segues::after {
    content: "";
    clear: both;
    display: table;
}
/*****************PERSONLIG-TRÄNING-END****************/ 
/*****************FOOTER****************/
footer
{
    /* overflow: auto; */
    background-color: bisque;
    height:200px;

}

.footer-text
{
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    background-color: #bf5841;
    width:150px;
    height:200px;
    text-align: left;
    font-size: 15px;
}

.google-map
{
    float: center;
    display:block;

}
.footer-sociala.h4{
    text-align: center;
}
.footer-sociala {

    position: relative;
    margin-right: 2%;
    text-align: right;
    top: -200px;
    font-size: 15px;
}

.footer-sociala-img {
    display: inline-block;
    padding: 15px 10px 10px 10px;

}
#footer-facebook, #footer-instagram, #footer-twitter
{

    width:40px;
    height: 40px;
}
